/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General Styles */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid peru;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  height: 100px;
}

nav {
  font-size: 16px;
}
section {
  background-color: red;
}
article {
  background-color: green;
}
aside {
  background-color: yellow;
}
footer {
  background-color: thistle;
}

/* Navgation bar */
.date-textbox {
  font-size: 24px;
}
.nav-links {
  margin: 0 24px;
}
button {
  position: absolute;
  font-size: 18px;
  padding: 6px 24px;
  cursor: pointer;
}
/* smaller elements */
h1,
h2,
h3 {
  color: peru;
}
h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* styling links */
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: #cea;
}
a:hover {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}
a:active {
  background-color: black;
  font-style: italic;
}
.weekly-releases {
  border-top: 10px;
}
/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 300px 1fr;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1;
}
